{{ define "main" }}
  <main class="content-page">
    <h1>{{ .Title }}</h1>

    {{ .Content }}

    {{ $previousYear := "" -}}
    {{ range .Pages -}}
      <!-- Useful in conjunction with the `--buildFuture` flag -->
      {{ if gt .Date now -}}
        {{ continue -}}
      {{ end -}}

      {{ $year := .Date.Format "2006" -}}
      {{ if ne $year $previousYear -}}
        {{ if ne $previousYear "" -}}
          </ul>
        {{ end -}}
        <h2>{{ $year }}</h2>
        <ul>
      {{ end -}}

      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>{{ "" -}}
        <br />
        <small>{{ "" -}}
          {{ "" -}}
            <time dateTime="{{ .Date.Format "2006-01-02" }}">{{ "" -}}
              {{ .Date.Format "January 2, 2006" -}}
            </time>{{ "" -}}
          {{ "" -}}
        </small>
      </li>

      {{ $previousYear = $year }}
    {{ end }}
  </main>
{{ end }}
