html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

:root {
  --text-color: #000;
  --inverted-text-color: #fff;
  --background-color: #fff5f5;
  --primary-color: #000;
  --logo-color: var(--primary-color);
  --logo-border-color: transparent;
  --pre-text-color: #000;
  --pre-background-color: #edd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --inverted-text-color: #000;
    --background-color: #000;
    --primary-color: #fff;
    --logo-color: transparent;
    --logo-border-color: #fff;
    --pre-text-color: #fff;
    --pre-background-color: #222;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-family: Lato, "DejaVu Sans", "Segoe UI", Avenir, Ubuntu, Tahoma, Verdana, Helvetica, sans-serif;
  font-size: 18pt;
  color: var(--text-color);
  background: var(--background-color);
}

body {
  line-height: 2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

code, pre {
  font-family: SourceCodePro, Inconsolata, Consolas, Monaco, Ubuntu Mono, monospace;
}

a {
  color: var(--primary-color);
  text-decoration: dotted underline;
}

a:hover {
  text-decoration-style: solid;
}

a:active {
  position: relative;
  top: 1px;
}

::selection {
  color: var(--inverted-text-color);
  background: var(--primary-color);
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 2rem 0;
  line-height: 1em;
}

small {
  font-size: 80%;
}

.IndexPage {
  display: flex;
  min-height: 100vh;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IndexPage header {
  text-align: center;
}

.IndexPage h1 {
  font-size: 2rem;
}

.IconLinks {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .IconLinks {
    flex-direction: column;
  }
}

.IconLinks:last-child {
  margin-bottom: 0;
}

.IconLink {
  list-style-type: none;
}

.IconLink a {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: none;
  font-weight: bold;
}

.IconLink img, .IconLink svg {
  height: 1.2em;
  margin-right: 0.3rem;
}

/* This should be transparent, but I didn't want to edit the SVG. */
.MastodonIconM {
  fill: var(--background-color);
}

.Logo {
  width: 100%;
  max-width: 200px;
  border: 3px solid var(--logo-border-color);
  border-radius: 100%;
  background: var(--logo-color);
}

.ContentPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  max-width: 960px;
}

.ContentPageHeaderAndMainWrapper {
  display: flex;
}

.ContentPageHeader {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 0 1rem 0;
  margin-left: 2rem;
}

.ContentPageHeader .Logo {
  width: 150px;
  transition: transform 0.1s ease-out;
}

.ContentPageHeader .Logo:hover {
  transform: scale(1.1);
}

.ContentPageHeader .IconLinks {
  flex-direction: column;
  width: auto;
}

.ContentPageHeader .IconLink a {
  flex-wrap: nowrap;
}

.ContentPageMain {
  flex-grow: 5;
  padding: 1rem 0;
}

.ContentPageMain h2,
.ContentPageMain h3,
.ContentPageMain h4,
.ContentPageMain h5,
.ContentPageMain h6,
.ContentPageMain p,
.ContentPageMain ul,
.ContentPageMain ol,
.ContentPageMain blockquote,
.ContentPageMain pre {
  line-height: 1.75em;
  margin-bottom: 1rem;
}

.ContentPageMain h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

.ContentPageMain h3 {
  font-weight: 900;
}

.ContentPageMain h4 {
  text-decoration: underline;
}

.ContentPageMain h5 {
  font-size: 80%;
}

.ContentPageMain h6 {
  font-size: 80%;
  font-style: italic;
}

.ContentPageMain ul, .ContentPageMain ol {
  padding-left: 1em;
  padding-right: 1em;
}

.ContentPageMain ul > li {
  list-style-type: square;
}

.ContentPageMain ol > li {
  list-style-type: decimal;
}

.ContentPageMain pre {
  padding: 1rem;
  line-height: 1.2em;
  color: var(--pre-text-color);
  background: var(--pre-background-color);
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.ContentPageMain blockquote {
  border-left: 0.5rem solid var(--primary-color);
  padding-left: 1rem;
  font-style: italic;
}

.ContentPageMain img {
  max-width: 100%;
}

.ContentPageDate {
  margin-top: 1rem;
  font-size: 80%;
  font-style: italic;
}

.ContentPageFooter {
  line-height: 1.5em;
  padding: 1rem 0;
  font-size: 80%;
  text-align: center;
  opacity: 0.8;
}

@media screen and (max-width: 700px) {
  .ContentPageHeaderAndMainWrapper {
    flex-direction: column;
  }

  .ContentPageHeader {
    border-top: 1px dotted #666;
    border-bottom: 1px dotted #666;
    margin: 2rem 0;
  }

  .ContentPageHeader .Logo {
    width: 100px;
  }

  .ContentPageHeader .IconLink a {
    padding: 0.25rem 1rem;
  }

  .ContentPageHeader .IconLink img,
  .ContentPageHeader .IconLink svg {
    display: none;
  }

  .ContentPageMain {
    padding: 0;
  }
}
