<!DOCTYPE html>
<html lang="en-US">
<head>

<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &rsaquo; {% endif %}Evan Hahn (dot com)</title>
<link rel="stylesheet" href="/res/the.css">
<meta name="viewport" content="width=device-width">
<link rel="shortcut icon" href="favicon.ico">
<link rel="alternate" type="application/rss+xml" title="Feed" href="{{ site.url }}/feed.xml">
<!--[if lt IE 9]>
<script src="//ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>
<body>

<header class="site-header">

  <h1>
    <a href="/" class="logo">
      <img src="/res/logo_white.gif" alt="Evan Hahn (dot com)">
    </a>
  </h1>

  <div class="description">I love Sriracha sauce and websites.</div>

  <nav role="navigation">
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/guides">Guides</a></li>
      <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>

  <a href="http://www.savetheinternet.com/" class="sti-banner">
    <img src="/uploads/2014-05-14-sti.png" alt="Save the Internet!">
    Stop the FCC's plan to kill Net Neutrality
  </a>

</header>

<div class="site-content" role="main">
  {{ content }}
</div>

<footer>
  Dear fellow copyright nerd: all content licensed under the <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License</a> unless noted otherwise.
  All code is free-license under the <a href="http://unlicense.org/">Unlicense</a> unless noted otherwise.
  The logo was drawn by <a href="http://www.luluspice.com/">the lovely Lulu Tang</a>.
  Unless noted, my content doesn't necessarily reflect any employer's view.
  You look lovely today. Please come back soon.
</footer>

<script src="/res/highlight.js"></script>
<script>
hljs.initHighlightingOnLoad();
</script>


</body>
</html>
