<!DOCTYPE html>
<html lang="en">

<!-- this site's source code can be found at http://git.io/29bLnw -->
<!-- never stop viewing source, my friend -->

<head>

<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &rsaquo; {% endif %}Evan Hahn (dot com)</title>
<link rel="stylesheet" href="/res/the.css">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="viewport" content="width=device-width">
<link rel="alternate" type="application/rss+xml" title="Feed" href="{{ site.url }}/feed.xml">

</head>
<body>

<header class="site-header">
  <h1><a href="/" class="logo">
    <img src="/res/logo_white.gif" alt="Evan Hahn (dot com)">
  </a></h1>

  <div class="description">{{ site.description }}</div>

  <nav role="navigation"><ul>
    <li><a href="/about">About</a></li>
    <li><a href="/guides">Guides</a></li>
    <li><a href="/projects">Projects</a></li>
  </ul></nav>
</header>

<div class="site-content" role="main">{{ content }}</div>

<footer>
Email me at <a href="mailto:me@evanhahn.com">me@evanhahn.com</a>.

All content licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License</a> unless noted otherwise. All code is free-license under the <a href="https://unlicense.org/">Unlicense</a> unless noted otherwise. Unless noted, my content doesn't necessarily reflect any employer's view.

The logo was created by <a href="http://luluspice.com/">Lulu Tang</a>.

Please come back soon!
</footer>

<script src="/res/highlight.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</body>
</html>
